<ion-view view-title="Detail">
  <ion-content>

  <div class="list">
  	<div class="item text-center">
	    <h1>Jackfruit Tacos</h1>
	  </div>

	  <div class="list card">
			
		  <div class="item item-image">
		    <img src="img/jackfruit.jpg">
		  </div>
		  <a href="#/app/profile" >
		  <div class="row">
		  	<div class="col col-80">
			  <div class="item item-avatar">
			    <img src="img/monroe.png">
			    <h2>Monroe Chabrier</h2>
			    <div class="subdued">
					<p><i class="icon ion-location energized"></i> 0.3 miles&nbsp;&nbsp;<i class="icon ion-clock positive"></i> 2pm - 4pm</p>
			    </div>
			  </div>
	  		</div>
		  	<div class="col col-center">
		  		<p class="text-right"><font color="green">$3.95</font></p>
		  	</div>
	  	  </div>
	  	  </a>
		</div>

		<center>
			<button class="button button-small button-balanced">
		  	Mexican
			</button>	
			<button class="button button-small button-balanced">
		  	Vegetarian
			</button>	
			<button class="button button-small button-balanced">
		  	Spicy
			</button>	
			<button class="button button-small button-balanced">
		  	Organic
			</button>
		</center>

<br>

	  <div class="item item-text-wrap">
	    
	    <p>
	    I make Jackfruit Tacos following a traditional recipie for homemade salsa and tortillas from Puebla, Mexico, but with all vegetarian ingredients.
	    </p>    
	    <br>
	    <h3>Ingredients</h3>
	    <p>
    	Jackfruit
	    Onions, garlic, peppers<br>
	    Cilantro<br>
	    Pico de Gallo<br>
	    Corn flour<br>
	    Brown rice<br>
	    Black beans
	    </p>
	   
	  </div>

		<a href="#/app/order"><button class="button button-block button-positive">
		  Place an order
		</button></a>

	  <div class="item item-thumbnail-left">
		<img src="http://i.imgur.com/8Ahh9LT.png">
	    <h2>Monroe has 14 reviews</h2>
	    <p>4.5 Forks</p>
<br>
	    <p>
	    "Awesome tacos, super fresh..."<br>
	    "...mole to die for..."<br>
	    "Great cook!"<br>
	    </p>    
	  </div> 


  </ion-content>
</ion-view>
