<ion-view view-title="Order for Chicken Tacos">
  <ion-content>
    <div class="list card">
    <div class="item item-wrap-text">
    Mark Black
    <span class="badge badge-assertive">2</span>
    <p>7:30</p>
    <ion-checkbox ng-model="filter.blue">Picked up?</ion-checkbox>
    </div>
    <div class="item item-wrap-text">
    Kelly Lee
    <p>7:45</p>
    <span class="badge badge-assertive">1</span>
    <ion-checkbox ng-model="filter.pink">Picked up?</ion-checkbox>
    </div>
    </div>
  </ion-content>
</ion-view>
