<ion-view view-title="Orders">
     <ion-content>
      <ion-list>
        <ion-item href="#/app/order-detail-1">
          Jackfruit Tacos
          <span class="badge badge-assertive">3</span>
        </ion-item>
        <ion-item href="#/app/order-detail-2">
          Everything Nachos
          <span class="badge badge-assertive">5</span>
        </ion-item>
        <ion-item href="#/app/order-detail-3">
          Taco Salad
          <span class="badge badge-assertive">1</span>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
