<ion-view view-title="Order for Everything Nachos">
  <ion-content>
    <div class="list card">
    <div class="item item-wrap-text">
    Claire Peterson
    <span class="badge badge-assertive">3</span>
    <p>8:10</p>
    <ion-checkbox ng-model="filter.blue">Picked up?</ion-checkbox>
    </div>
    <div class="item item-wrap-text">
    Hailey Huang
    <span class="badge badge-assertive">2</span>
    <p>8:45</p>
    <ion-checkbox ng-model="filter.pink">Picked up?</ion-checkbox>
    </div>
    </div>
  </ion-content>
</ion-view>
